<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petlove.account.dao.PPetMapper">
    <resultMap id="ResultMap" type="com.petlove.account.entity.PPetDO">
        <result column="id" property="id" />
        <result column="custom_id" property="customId" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="weight" property="weight" />
        <result column="description" jdbcType="LONGVARCHAR" property="description" />
        <result column="avatar" property="avatar" />
        <result column="birthday" property="birthday" />
        <result column="created_by" property="createdBy" />
        <result column="updated_by" property="updatedBy" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
<!--        <result column="tenant_code" property="tenantCode" />-->
    </resultMap>

    <sql id="Base_Column_List">
        `id`,`custom_id`,`name`,`age`,`weight`,`description`,`avatar`,`birthday`,`created_by`,`updated_by`,`create_time`,`update_time`
    </sql>
<!--    <sql id="Base_Column_List">-->
<!--        id,custom_id,name,age,weight,desc,avatar,birthday,created_by,updated_by,create_time,update_time-->
<!--    </sql>-->
</mapper>

